<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<!-- Configure Sections-->
	<configSections>
		<sectionGroup name="managedFusion" type="ManagedFusion.Configuration.ManagedFusionSectionGroup, ManagedFusion">
			<section name="communityConfigurationManager" type="ManagedFusion.Configuration.CommunityConfigurationManagerSection, ManagedFusion"/>
			<section name="communityPathManager" type="ManagedFusion.Configuration.CommunityPathManagerSection, ManagedFusion"/>
			<section name="databaseManager" type="ManagedFusion.Data.DatabaseManagerSection, ManagedFusion"/>
			<section name="syndicationManager" type="ManagedFusion.Syndication.SyndicationManagerSection, ManagedFusion"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="ManagedFusion.Configuration.PortalSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<!-- ManagedFusion -->
	<managedFusion>
		<!-- Configuration Manager -->
		<communityConfigurationManager defaultProvider="Folder">
			<providers>
				<add name="Folder" type="ManagedFusion.Configuration.Folder.FolderConfigurationProvider, ManagedFusion"/>
			</providers>
		</communityConfigurationManager>
		<!-- Path Manager -->
		<communityPathManager defaultProvider="Folder">
			<providers>
				<add name="Folder" type="ManagedFusion.Configuration.Folder.FolderPathProvider, ManagedFusion"/>
			</providers>
		</communityPathManager>
		<!-- Database Manager -->
		<databaseManager defaultProvider="SqlServer" defaultConnectionStringName="ManagedFusion">
			<providers>
				<add name="SqlServer" type="ManagedFusion.Data.SqlServer2000.SqlServerProvider, ManagedFusion.Data.SqlServer2000" connectionStringName="ManagedFusion"/>
			</providers>
		</databaseManager>
		<!-- Syndication Manager -->
		<syndicationManager>
			<providers>
				<add name="Feed" type="ManagedFusion.Syndication.AtomFeed.AtomFeedProvider, ManagedFusion"/>
				<add name="SiteMapIndex" type="ManagedFusion.Syndication.SitemapIndex.SitemapIndexProvider, ManagedFusion"/>
				<add name="SiteMap" type="ManagedFusion.Syndication.Sitemap.SitemapProvider, ManagedFusion"/>
			</providers>
		</syndicationManager>
	</managedFusion>
	<!-- Connection Strings -->
	<connectionStrings>
  <clear />
  <add name="ManagedFusion" connectionString="Data Source=(local);Initial Catalog=CoderJournal;Integrated Security=True;Application Name=ManagedFusion"
   providerName="System.Data.SqlClient" />
  <add name="CoderJournal.Properties.Settings.CoderJournalConnectionString"
   connectionString="Data Source=LIVINGROOM;Initial Catalog=CoderJournal;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<!-- System.Web -->
	<system.web>
		<!-- Http Modules -->
		<httpModules>
			<add name="Portal" type="ManagedFusion.PortalModule, ManagedFusion"/>
			<add name="LogError" type="ManagedFusion.ExceptionModule, ManagedFusion"/>
		</httpModules>
		<!-- Http Handlers -->
		<httpHandlers>
			<add verb="*" path="Default.aspx" type="ManagedFusion.PortalHandlerFactory, ManagedFusion" validate="false"/>
		</httpHandlers>
		<!-- Trace -->
		<trace enabled="true"/>
		<!-- Compilation -->
		<compilation defaultLanguage="c#" debug="true" batch="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<!-- Custom Errors -->
		<customErrors mode="Off"/>
		<!-- Authentication -->
		<authentication mode="Forms">
			<forms name=".CoderJournalAuthentication" protection="Validation" timeout="30" path="/" slidingExpiration="true"/>
		</authentication>
		<!-- Membership Provider -->
		<membership defaultProvider="Portal" userIsOnlineTimeWindow="15">
			<providers>
				<clear/>
				<add name="Portal" type="OmniPortal.Security.PortalMembershipProvider, OmniPortal" applicationName="/"/>
			</providers>
		</membership>
		<!-- Role Provider -->
		<roleManager defaultProvider="Portal" enabled="true" cacheRolesInCookie="true" cookieName=".CoderJournalAuthorization" cookieTimeout="30" cookiePath="/" cookieRequireSSL="true" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<clear/>
				<add name="Portal" type="OmniPortal.Security.PortalRoleProvider, OmniPortal" applicationName="/"/>
			</providers>
		</roleManager>
		<!-- SiteMap Provider -->
		<siteMap defaultProvider="Portal">
			<providers>
				<add name="Portal" type="ManagedFusion.PortalSiteMapProvider, ManagedFusion"/>
			</providers>
		</siteMap>
		<!-- Session State -->
		<sessionState mode="InProc" cookieless="AutoDetect" cookieName=".CoderJournalSessionState"/>
		<!-- Globalization -->
		<globalization enableClientBasedCulture="true" requestEncoding="utf-8" responseEncoding="utf-8"/>
		<!-- Pages -->
		<pages buffer="true" enableSessionState="false" enableViewState="true" maintainScrollPositionOnPostBack="true">
			<namespaces>
				<add namespace="ManagedFusion"/>
			</namespaces>
		</pages>
	</system.web>
	<!-- Application settings for this website. -->
	<applicationSettings>
		<ManagedFusion.Configuration.PortalSettings>
			<setting name="DefaultLanguage" serializeAs="String">
				<value>en-US</value>
			</setting>
			<setting name="DefaultTheme" serializeAs="String">
				<value>Default</value>
			</setting>
			<setting name="DefaultStyle" serializeAs="String">
				<value>Default</value>
			</setting>
			<setting name="DefaultSkinTemplate" serializeAs="String">
				<value>Template.master</value>
			</setting>
			<setting name="DefaultPageHandler" serializeAs="String">
				<value>ManagedFusion.PortalPage, ManagedFusion</value>
			</setting>
			<setting name="ExpirationType" serializeAs="String">
				<value>Default</value>
			</setting>
			<setting name="CacheTime" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="DatabaseCacheTime" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="DatabaseConnectionString" serializeAs="String">
				<value />
			</setting>
		</ManagedFusion.Configuration.PortalSettings>
	</applicationSettings>
</configuration>
